#Use the actual backend HTTPS URL:
VITE_API_BASE_URL=https://localhost:<YOUR-API-HTTPS-PORT>
 
VITE_AZURE_TENANT_ID=
 
VITE_AZURE_CLIENT_ID=
 
VITE_API_SCOPE=api://client_id/access_as_user
 
VITE_REDIRECT_URI=http://localhost:5173